@media screen and (min-width: 350px){
 
 .column {
    width: 100%;
     float: right;
     margin-right: 0px
}
        
    li {
    float: right;
}

    li a {
    font-family: 'Titillium Web', sans-serif;
    display: block;
    color: black;
    text-align: center;
    padding: 4px 10px;
    text-decoration: none;
    font-size: 12px;
    margin-top: 50px
}
    
       
footer li a {
    margin-top: 100px;
    font-size: 12px;
    padding: 4px 8px;
    
}
    
    

    
}

@media screen and (min-width: 500px){
 
 .column {
    width: 100%;
     margin-left: 5px;
}
  

}
    
@media screen and (min-width: 600px){
  
 .column {
    width: 100%;
     margin-left: 10px;
}
    
}

@media screen and (min-width: 700px){
    
  .column {
    width: 100%;
     margin-left: 15px;
}
    
}

@media screen and (min-width: 800px){
    
 .column {
    width: 100%;
     margin-left: 20px;
}
}


@media screen and (min-width: 900px){
    
 .column {
    width: 100%;
     margin-left: 25px;
}
}
    
@media screen and (min-width: 1000px){
    
 .column {
    width: 100%;
     margin-left: 30px;
}
    }

    @media screen and (min-width: 1100px){
    
 .column {
    width: 100%;
     margin-left: 35px;
}
}

    @media screen and (min-width: 1200px){
    
 .column {
    width: 100%;
     margin-left: 35px;
}
}
   