@media screen and (min-width: 400px){
    
     li {
    float: right;
}


}

    .logo {
    height: 200px;
    width: 20%;
    margin-left: 0px;
    margin-top: 10px;
    background-image:url(/img/logo/logo_web.png);
    background-size: contain;
    background-repeat: no-repeat;
    float: left;
}
 
    .resume {
    height:500px;
    width: 350px;
    margin-left: 10px;
    margin-top: 50px;
    margin-bottom: 50px
}
    
button {
    margin: 0 auto 0 auto;
    margin-top: 150px;
    margin-left: 50px;
}
    footer li a {
    margin-top: 100px;
    font-size: 10px
    
}
    
    
}


@media screen and (min-width: 500px){
 
    .resume {
    height:600px;
    width: 400px;
    margin-left: 32px;
    margin-top: 50px;
    margin-bottom: 50px
}
   
    button { 
    margin: 0 auto 0 auto;
    margin-top: 150px;
    margin-left: 50px
}
    
    button a {
        
    }
  

}
    
@media screen and (min-width: 600px){
  
    .resume {
    height:700px;
    width: 500px;
    margin-left: 32px;
    margin-top: 50px;
    margin-bottom: 50px
}
    
    button { 
    margin: 0 auto 0 auto;
    margin-top: 150px;
    margin-left: 70px
}
    
        footer li a {
    margin-top: 89px;
    font-size: 10px
    
}
    
  
}

@media screen and (min-width: 700px){
    
    .resume {
    height:800px;
    width: 600px;
    margin-left: 32px;
    margin-top: 50px;
    margin-bottom: 50px
}
      button { 
    margin: 0 auto 0 auto;
    margin-top: 150px;
    margin-left: 80px
}
    
}

@media screen and (min-width: 800px){
    
        .resume {
    height:900px;
    width: 700px;
    margin-left: 32px;
    margin-top: 50px;
    margin-bottom: 50px
}
      button { 
    margin: 0 auto 0 auto;
    margin-top: 150px;
    margin-left: 100px
}
}


@media screen and (min-width: 900px){
    
        .resume {
    height:900px;
    width: 700px;
    margin-left: 60px;
    margin-top: 50px;
    margin-bottom: 50px
    }
        
          button { 
    margin: 0 auto 0 auto;
    margin-top: 150px;
    margin-left: 80px
}
}
    
@media screen and (min-width: 1000px){
    
    .resume {
    height:1000px;
    width: 800px;
    margin-left: 55px;
    margin-top: 50px;
    margin-bottom: 50px
}
    
    button { 
    margin: 0 auto 0 auto;
    margin-top: 150px;
    margin-left: 120px
}
    }

    @media screen and (min-width: 1100px){
    
    .resume {
    height:1100px;
    width: 900px;
    margin-left: 60px;
    margin-top: 50px;
    margin-bottom: 50px
}
    button { 
    margin: 0 auto 0 auto;
    margin-top: 150px;
    margin-left: 130px
}
}

    @media screen and (min-width: 1200px){
    
    .resume {
    height:1200px;
    width: 1000px;
    margin-left: 60px;
    margin-top: 50px;
    margin-bottom: 50px
}
    button { 
    margin: 0 auto 0 auto;
    margin-top: 150px;
    margin-left: 130px
}
}
   